<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- lien de font awasone -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <title>ChouAide</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <%- include('partials/header') %>
  <div class="contain">
     <section class="carousel" class="element">
    <div class="slide active">
      <img src="assets/file_0000000020346230a90444d625b8ac8f.png" alt="Trouver ou proposer une prestation" />
    </div>
    
  </section>
  <section id="services" class="grid-container">
      <div class="service-card" onclick="window.location.href='/profils?categorie=menage'">
        <h2>📚 Cours particuliers</h2>
        <p>Aide en maths, physique, langues, et plus !</p>
      </div>
      <div class="service-card" onclick="window.location.href='/profils?categorie=depannage'">
        <h2>💻 Services tech</h2>
        <p>Sites web, dépannage informatique, et tutoriels.</p>
      </div>
      <div class="service-card" onclick="window.location.href='/profils?categorie=design'">
        <h2>🎨 Design & Création</h2>
        <p>Logos, affiches, portfolios étudiants et plus.</p>
      </div>
    </section>
  </div>
  <main class="grid-container">
    <section class="cta">
      <button class="btn" onclick="window.location.href='/trouver'">Trouver une prestation</button>
      <button class="btn" onclick="window.location.href='/proposer'">Proposer une prestation</button>
    </section>

    
  </main>

  
  <%- include('partials/footer') %>

  <script src="script.js"></script>
</body>
</html>
